{% extends "themes/base_admin.html.twig" %}

{% block title %}Espace d'administration{% endblock %}

{% block description %}Espace d'administration{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Espace d'admnistration</h1>

    <div class="container text-center">
        <div class="row">
          
            <div class="card text-bg-primary mb-3 mx-2" style="max-width: 18rem;">
                <div class="card-header">Catégorie</div>
                <div class="card-body">
                  <h5 class="card-title">Nombre de catégorie</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
              <div class="card text-bg-secondary mb-3 mx-2" style="max-width: 18rem;">
                <div class="card-header">Articles</div>
                <div class="card-body">
                  <h5 class="card-title">Nombre d'article</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
              <div class="card text-bg-success mb-3 mx-2" style="max-width: 18rem;">
                <div class="card-header">Tags</div>
                <div class="card-body">
                  <h5 class="card-title">Nombre de tag</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
              <div class="card text-bg-danger mb-3 mx-2" style="max-width: 18rem;">
                <div class="card-header">Contacts</div>
                <div class="card-body">
                  <h5 class="card-title">Nombre de contact</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
              <div class="card text-bg-warning mb-3 mx-2" style="max-width: 18rem;">
                <div class="card-header">Utilisateurs</div>
                <div class="card-body">
                  <h5 class="card-title">Nombre d'utilisateur</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
              <div class="card text-bg-info mb-3 mx-2" style="max-width: 18rem;">
                <div class="card-header">Commentaires</div>
                <div class="card-body">
                  <h5 class="card-title">Nombre de commentaire</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
              
        </div>
    </div>
{% endblock %}