{% extends "themes/base_admin.html.twig" %}

{% block title %}- Liste des tags{% endblock %}

{% block description %}Liste des tags{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Liste des tags</h1>
{% endblock %}