{% extends "themes/base_visitor.html.twig" %}

{% block title %}- Mentions légales{% endblock %}

{% block descritption %}Mentions légales{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Mentions légales</h1>
    <div class="container my-3 col-md-8">
            <p>
                Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l’économie numérique. <br/>
        
                <h2 style="font-size: 25px;">Edition du site</h2>  
        
                Le site MonSaintJo.re est édité par l'assosciation Mon Saint-Jo, dont le siège social est situé 5 IMP DES SAPOTIERS à SAINT-JOSEPH (97480), immatriculée au Répertoire National des Associations sous le numéro W9R2009222. <br/>
                <br/>
        
                <h2 style="font-size: 25px;">Responsable de publication</h2>
                
                Johny Kbidi <br/>
                <br/>
        
                <h2 style="font-size: 25px;">Nous contacter</h2>
        
                Par email : support@legalplace.fr <br/>
                <br/>
        
                <h2 style="font-size: 25px;">Hébergeur</h2>
        
                Le site monsaintjo.re est hébergé par la société Vultr. <br/>
                <br/>
        
                Adresse: Langevin, 5, impasse des Sapotiers 97480 Saint-Joseph. <br/>
                <br/>

                <h2 style="font-size: 25px;">Conditions d'utilisation :</h2> 
                Tout commentaire publié sur le site est sous l'entière responsabilité de son auteur, et non du site lui-même. De plus, les photos publiées sur le site sont des photos envoyées par des utilisateurs, et en aucun cas le site ne peut être tenu pour responsable de leur contenu ou de leur origine.

            </p>
    </div>
{% endblock %}