{% extends "themes/base_visitor.html.twig" %}

{% block title %}- Mentions légales{% endblock %}

{% block descritption %}Mentions légales{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Mentions légales</h1>
    <div class="container my-3 col-md-8">
            <p>
                Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l’économie numérique. <br/>
        
                <h5>Edition du site</h5>  
        
                Le site MonSaintJo.re est édité par l'assosciation Mon Saint-Jo, dont le siège social est situé 5 IMP DES SAPOTIERS à SAINT-JOSEPH (97480), immatriculée au Répertoire National des Associations sous le numéro W9R2009222. <br/>
                <br/>
        
                <h5>Responsable de publication</h5>
                
                Johny Kbidi <br/>
                <br/>
        
                <h5>Nous contacter</h5>
        
                Par email : support@legalplace.fr <br/>
                <br/>
        
                <h5>Hébergeur</h5>
        
                Le site monsaintjo.re est hébergé par la société DigitalOcean. <br/>
                <br/>
        
                Adresse: Langevin, 5, impasse des Sapotiers 97480 Saint-Joseph.
            </p>
    </div>
{% endblock %}