{% extends "themes/base_admin.html.twig" %}

{% block title %}- Lire le commentaire{% endblock %}

{% block description %}- Lire le commentaire{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Commentaire de {{ comment.user.firstName }} {{ comment.user.lastName }}</h1>

    <p class="text-center lead">{{ comment.createdAt|date('d/m/Y a H:i:s') }}</p>

    <div class="container mt-5">
        {{ comment.content|nl2br }}
    </div>
{% endblock %}