.navbar-brand {
    height: 60px;
    width: 48px;
    
}

.sidebarlogo-brand {
    height: 70px;
    width: 65px;
    
}

.gradient {
    background: rgb(1, 77, 120);
    background: linear-gradient(0deg, rgba(2,94,147,0.26514355742296913) 0%, rgba(159,211,241,0) 13%, rgba(251,253,255,0) 100%);
}

.sidebar_color {
    background-color: $sidebar_color;
}

.btn {
    background-color: rgb(3,94,147);
}

.badge {
    background-color: rgb(14, 136, 207);
}

