* 
{
    font-family: 'Poppins', sans-serif;
}

#title {
    font-family: 'Tilt Warp', cursive;
}

.heart {
    color: $danger;
}

.navbar-brand {
    height: 60px;
    width: 48px;
    
}

.sidebarlogo-brand {
    height: 70px;
    width: 65px;
    
}


