* 
{
    font-family: 'Poppins', sans-serif;
}

#title {
    font-family: 'Tilt Warp', cursive;
}

.heart {
    color: $danger;
}

.navbar-brand {
    height: 60px;
    width: 48px;
    
}

.sidebarlogo-brand {
    height: 70px;
    width: 65px;
    
}

.gradient {
    background: rgb(85,167,214);
    background: linear-gradient(0deg, rgba(85,167,214,0.43040966386554624) 0%, rgba(168,214,240,0) 13%, rgba(251,253,255,0) 100%); 
}


