* 
{
    font-family: 'Poppins', sans-serif;
}


.heart {
    color: $danger;
}

.navbar-brand {
    height: 55px;
    width: 40px;
    border: 1.5px solid rgb(0, 64, 102);
    border-radius: 50%;
}

.sidebarlogo-brand {
    height: 70px;
    width: 60px;
    
}


