<footer class="text-center mt-5 msj-bg-dark text-white-50 pt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span>Mon Saint-Jo</span>
            </div>
            <div class="col-md-4">
                <span>Mon Saint-Jo</span>
            </div>
            <div class="col-md-4">
               <p> Suivez Mon Saint-Jo sur <a href="https://www.instagram.com/monsaintjo/"><i class="fa-brands fa-instagram m-2 text-white-50"></i></a>  <a href="https://www.facebook.com/MonSaintJoMedia"><i class="fa-brands fa-facebook text-white-50"></i></a></p> 
            </div>
        </div>
    </div>
</footer>