<footer class="text-center mt-4 msj-bg-dark text-white-50 pt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-2">
                <span>Copyright &#169; 2023 MonSaintJo.
                <a href="{{ path('visitor.legal_notice.index') }}" class="text-white-50" style="text-decoration: none;">Mentions légales.</a></span>
            </div>
            <div class="col-md-4 mb-2">
                <span><a href="{{ path('visitor.welcome.index') }}" class="text-white-50" style="text-decoration: none;"> Mon Saint-Jo</a></span>
            </div>
            <div class="col-md-4 mb-2">
               <p> Suivez Mon Saint-Jo sur <a href="https://www.instagram.com/monsaintjo/" title="Page Instagram Mon Saint-Jo"><i class="fa-brands fa-instagram m-2 text-white-50"></i></a>  <a href="https://www.facebook.com/MonSaintJoMedia" title="Page Facebook Mon Saint-Jo"><i class="fa-brands fa-facebook text-white-50"></i></a></p> 
            </div>
        </div>
    </div>
</footer>