<footer class="text-center mt-5 bg-dark text-white pt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span>Copiright &#169; 2023 MonSaintJo. <a href="{{ path('visitor.legal_notice.index') }}" class="text-white" style="text-decoration: none;">Mentions légales.</a></span>
            </div>
            <div class="col-md-4">
                <span>Espace utilisateur</span>
            </div>
            <div class="col-md-4">
                <p> Suivez Mon Saint-Jo sur <a href="https://www.instagram.com/monsaintjo/" title="Page Instagram Mon Saint-Jo"><i class="fa-brands fa-instagram m-2 text-white-50"></i></a>  <a href="https://www.facebook.com/MonSaintJoMedia" title="Page Facebook Mon Saint-Jo"><i class="fa-brands fa-facebook text-white-50"></i></a></p> 
            </div>
        </div>
    </div>
</footer>