{% extends "themes/base_visitor.html.twig" %}

{% block title %}- Qui sommes-nous ?{% endblock %}

{% block description %}Qui sommes-nous ?{% endblock %}

{% block main %}
<h1 id="title"  class="text-center my-3 display-5" style="color:rgb(1, 57, 90)">Qui sommes-nous ?</h1>

<div>
    <div class="container mt-5 text-center">
        <p>
            Fondé en 2019, MonSaint-Jo est un média associatif participatif dédié à la promotion des communes du Sud Sauvage, comprenant Saint-Joseph, Saint-Philippe et la Petite-Île. Bien que sa présence initiale se soit faite sur Facebook, MonSaint-Jo a rapidement gagné en popularité, avec une base d'abonnés actifs toujours croissante. À travers ses publications, MonSaint-Jo diffuse des informations variées et pertinentes, allant des événements locaux aux actualités de la région, en passant par les attraits touristiques et les initiatives communautaires. En tant que média participatif, MonSaint-Jo offre également une plateforme de partage pour ses membres, qui peuvent contribuer à la production de contenu en partageant leurs expériences et leurs connaissances de la région.
        </p>
    </div>
</div>
    {% endblock %}