{% extends "themes/base_visitor.html.twig" %}

{% block title %}- Qui sommes-nous ?{% endblock %}

{% block description %}Qui sommes-nous ?{% endblock %}

{% block main %}
<h1 id="title"  class="text-center my-3 display-5" style="color:rgb(1, 57, 90)">Qui sommes-nous ?</h1>

<div style="background-image: url('images/static/visitor/about_me/crayons.jpg');">
    <div class="container mt-4 text-white">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi amet magni sequi? Excepturi quo debitis nisi aut necessitatibus, sapiente obcaecati eius rem facilis temporibus eaque! Beatae cumque inventore vitae mollitia?
        Quaerat odit sit cupiditate placeat exercitationem quisquam beatae nam quos repudiandae nemo. Ut, labore animi omnis quis ipsam voluptas nisi voluptates numquam quos, aperiam cum cupiditate ex perspiciatis suscipit molestiae!
        Tenetur aliquid eius temporibus repudiandae, voluptatum dolor maiores aut, animi eos totam ex modi? Voluptatibus labore, odio saepe nobis est commodi in aspernatur, eius, modi reiciendis omnis? Ea, magnam dolore!
        Illum saepe tenetur molestiae eum aliquam fugit modi nisi? Illum ut consequuntur officiis fuga pariatur a aut vero magnam deleniti recusandae nobis similique assumenda consectetur, qui fugiat eligendi sint quo!
        </p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi amet magni sequi? Excepturi quo debitis nisi aut necessitatibus, sapiente obcaecati eius rem facilis temporibus eaque! Beatae cumque inventore vitae mollitia?
        Quaerat odit sit cupiditate placeat exercitationem quisquam beatae nam quos repudiandae nemo. Ut, labore animi omnis quis ipsam voluptas nisi voluptates numquam quos, aperiam cum cupiditate ex perspiciatis suscipit molestiae!
        Tenetur aliquid eius temporibus repudiandae, voluptatum dolor maiores aut, animi eos totam ex modi? Voluptatibus labore, odio saepe nobis est commodi in aspernatur, eius, modi reiciendis omnis? Ea, magnam dolore!
        Illum saepe tenetur molestiae eum aliquam fugit modi nisi? Illum ut consequuntur officiis fuga pariatur a aut vero magnam deleniti recusandae nobis similique assumenda consectetur, qui fugiat eligendi sint quo!
        </p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi amet magni sequi? Excepturi quo debitis nisi aut necessitatibus, sapiente obcaecati eius rem facilis temporibus eaque! Beatae cumque inventore vitae mollitia?
        Quaerat odit sit cupiditate placeat exercitationem quisquam beatae nam quos repudiandae nemo. Ut, labore animi omnis quis ipsam voluptas nisi voluptates numquam quos, aperiam cum cupiditate ex perspiciatis suscipit molestiae!
        Tenetur aliquid eius temporibus repudiandae, voluptatum dolor maiores aut, animi eos totam ex modi? Voluptatibus labore, odio saepe nobis est commodi in aspernatur, eius, modi reiciendis omnis? Ea, magnam dolore!
        Illum saepe tenetur molestiae eum aliquam fugit modi nisi? Illum ut consequuntur officiis fuga pariatur a aut vero magnam deleniti recusandae nobis similique assumenda consectetur, qui fugiat eligendi sint quo!
        </p>
    </div>
</div>
    {% endblock %}