{% extends "themes/base_visitor.html.twig" %}

{% block title %} - En attente de la verification du compte par email {% endblock %}

{% block description %} - En attente de la verification du compte par email{% endblock %}

{% block main %}
    <div class="container bg-white shadow p-4 text-center mt-5">
        <h1 class="display-6 mt-4">En attente de la vérification du compte...</h1>
        <p>Un mail vous a été envoyé, veuillez consulter votre boîte mail.</p>
        <p>Si vous n'avez pas encore reçu l'e-mail de vérification de votre compte, veuillez vérifier votre dossier de courrier indésirable ou spam. Il est possible que le message se soit retrouvé là-bas par erreur.</p>
    </div>
{% endblock %}